.posts {}

.posts__body {}

.posts__controls {
	gap: 20px;
	display: grid;
	margin-bottom: 20px;
}

.controls-posts__item {}

.controls-posts__button {
	justify-self: start;
}


.posts__items {
	display: inline-grid;
	grid-auto-flow: row;
	gap: 30px;
	align-items: start;
	justify-content: flex-start;
}

.item-posts {
	display: inline-grid;
	grid-template-columns: auto auto;
	grid-template-rows: auto auto;
	align-items: start;
	justify-content: start;
}

.item-posts__logo {
	grid-column: 1 / 2;
	grid-row: span 2;
	margin-right: 20px;
}

.item-posts__name {
	grid-column: 2 / 3;
	grid-row: 1 / 2;
	font-size: 16px;
	color: #fff;
	text-decoration: underline;
	word-break: break-all;
	margin-bottom: 10px;
}

.item-posts__text {
	grid-column: 2 / 3;
	grid-row: 2 / 3;
	font-size: 18px;
	line-height: calc(24 / 18 * 100%);
	color: #fff;
	font-weight: 400;
	word-break: break-all;

}