@import url('https://fonts.googleapis.com/css2?family=Golos+Text:wght@400;500;600;700;800;900&display=swap');

* {
	padding: 0;
	margin: 0;
	border: 0;
}

*,
*:before,
*:after {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

:focus,
:active {
	outline: none;
}

a {}

textarea {
	resize: none;
}

a._disabled {
	pointer-events: none;
}

button._disabled {
	pointer-events: none;
}

a:focus,
a:active {
	outline: none;
}

button {
	border: none;
	background-color: transparent;
}

nav,
footer,
header,
aside {
	display: block;
}

html,
body {
	height: 100%;
	width: 100%;
	line-height: 1;
	font-size: 16px;
	color: #000;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}

body {
	font-family: 'Golos Text';
}

body._scroll-lock {
	overflow: hidden;
}


input,
button,
textarea {
	font-family: inherit;
}

input::-ms-clear {
	display: none;
}

button {
	cursor: pointer;
}

button::-moz-focus-inner {
	padding: 0;
	border: 0;
}

a,
a:visited {
	text-decoration: none;
}

a:hover {
	text-decoration: none;
}

ul li {
	list-style: none;
}

img {
	vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-size: inherit;
	font-weight: inherit;
}


/* MAIN STYLES */
/* MAIN STYLES */
/* MAIN STYLES */
.wrapper {
	display: flex;
	flex-direction: column;
	overflow: hidden;
	min-height: 100%;
}

.wrapper>div {
	display: flex;
	flex-direction: column;
	overflow: hidden;
	min-height: 100%;
	flex: 1 1 auto;
}

._container {
	max-width: 1470px;
	margin: 0px auto;
	padding: 0px 15px;
}

.header {
	margin: 20px 0px;
}

.header__container {
	display: flex;
	min-width: 100%;
}

.header__body {
	flex: 1 1 auto;
	min-width: 100%;
	padding: 10px;
	background-color: green;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.header__leave {
	color: #fff;
	font-size: 16px;
	text-decoration: underline;
	cursor: pointer;
	transition: all 0.3s ease 0s;

}

.header__leave:hover {
	color: red;
	transition: all 0.3s ease 0s;
}

.sidebar {
	min-height: 100%;
}

.sidebar__container {
	display: flex;
	flex-direction: column;
	min-height: 100%;
}

.sidebar__body {
	padding: 20px 10px;
	background-color: green;
	min-height: 100%;
	flex: 1 1 auto;
	display: flex;
	flex-direction: column;
}

.sidebar__list {
	display: flex;
	flex-direction: column;
	text-align: center;
	flex: 1 1 auto;
	margin-bottom: 60px;
}

.sidebar__list li:not(:last-child) {
	margin-bottom: 50px;
}

.sidebar__item {}

.sidebar__item:not(:last-child) {
	margin-bottom: 60px;
}

.sidebar__item a {
	color: #fff;
	font-size: 24px;
	line-height: calc(32 / 24 * 100%);
	text-decoration: underline;
	font-weight: 500;
}

.content {

	flex: 1 1 auto;
}

.content>div {
	display: grid;
	grid-template-columns: 290px 1fr;
	align-items: stretch;
	gap: 20px;
}

.page {}

.page__container {
	min-height: 100%;
	display: flex;
	flex-direction: column;
}

.page__body {
	background-color: green;
	min-width: 100%;
	min-height: 100%;
	padding: 20px;
	flex: 1 1 auto;
}


.footer {
	margin: 20px 0px;
}

.footer__container {
	min-width: 100%;
}

.footer__body {
	min-width: 100%;
	padding: 10px;
	background-color: green;
}

._btn {
	padding: 6px 60px;
	border-radius: 8px;
	background-color: rgba(0, 0, 0, 0.5);
	color: #fff;
	line-height: calc(20 / 18 * 100%);
	font-size: 18px;
	position: relative;
	transition: all 0.3s ease 0s;
	top: -2px;
	box-shadow: 0 5px 0px rgba(0, 0, 0, 0.7);
}

.loader {
	min-width: 100%;
	min-height: 100%;
	flex: 1 1 auto;
	display: flex;
	align-items: center;
	justify-content: center;
}

.loader img {
	width: 60px;
	height: 60px;
}

._btn:hover {
	top: 0;
	transition: all 0.3s ease 0s;
	box-shadow: 0 3px 2px rgba(0, 0, 0, 0.7);
	background-color: rgba(0, 0, 0, 0.7);
}

._btn:active {
	top: 0px;
	transition: all 0.3s ease 0s;
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.7);
}

._input {
	padding: 6px 10px;
	background-color: #FBFBFB;
	border: 1px solid #dfdfdf;
	border-radius: 2px;
	display: inline-block;
	transition: all 0.5s ease 0s;
}

._input:focus {
	transition: all 0.5s ease 0s;
	box-shadow: 0 0 16px rgba(0, 0, 0, 0.8);
}

._input::-webkit-input-placeholder {
	opacity: 0.5;
	font-size: 12px;
}

.profile img {
	width: 60px;
	height: 60px;
}

.profile__image img {
	width: 200px;
	height: 200px;
	border-radius: 50%;
}

.profile__image {
	text-align: center;
	margin-bottom: 40px;
}

.profile__name {
	font-size: 48px;
	line-height: calc(48 / 48 * 100%);
	color: #fff;
	text-align: center;
	font-weight: 700;
	margin-bottom: 20px;
}

.profile__description {
	font-size: 24px;
	line-height: calc(32 / 24 * 100%);
	margin-bottom: 20px;
	color: #353535;
	text-align: center;
}

.profile__body {
	margin-bottom: 40px;
}

a.active-tab {
	color: #edfd05;
	text-decoration: none;
}


.sidebar__friends {}

.friends-sidebar__items {
	display: flex;
	align-items: center;
	gap: 20px;
	justify-content: center;
	flex-wrap: wrap;
}

.friends-sidebar__title {
	text-align: center;
	color: #fff;
	margin-bottom: 20px;
	font-size: 20px;
	line-height: calc(20 / 24);
	font-weight: 500;
}

.friends-sidebar__icon {
	width: 30px;
	height: 30px;
	border-radius: 50%;
	background-color: gold;

}

.friends-sidebar__name {
	color: #fff;
	font-size: 18px;
	line-height: calc(20 / 18 * 100%);
	font-weight: 400;
}

.friends-sidebar__item {
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	justify-content: center;
	gap: 10px;
}

.page__body {
	display: flex;
	flex-direction: column;
}

.loader-placement {
	width: 200px;
	flex: 0 0 200px;
	min-width: 0;
	min-height: 0;
}

.loader-left {
	justify-content: flex-start;
}

.loader-right {
	justify-content: flex-end;
}

.profile-status {
	padding: 20px 0;
}

.profile-status__title {
	margin-bottom: 10px;
	font-size: 24px;
	line-height: calc(28 / 24 * 100%);
	color: #fff;
	font-weight: 500;
	font-style: italic;
	text-decoration: underline;
}

.error {
	color: red;
}

.error input,
.error textarea {
	border: 2px solid red;
}